# Author: Steffen Vogel <steffen.vogel@opal-rt.com>
# SPDX-FileCopyrightText: 2024 OPAL-RT Germany GmbH
# SPDX-License-Identifier: MPL-2.0
---
BasedOnStyle: LLVM

# Increase ColumnLimit to avoid breaking SPDX headers
ColumnLimit: 200

