# SPDX-FileCopyrightText: 2018-2026 Institute for Automation of Complex Power Systems, EONERC, RWTH Aachen University
# SPDX-License-Identifier: MPL-2.0

# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace=true

[**.{c,cpp,h,hpp}]
indent_style = space
indent_size = 2

[**.{py}]
indent_style = space
indent_size = 4

[{CMakeLists.txt,Dockerfile,Dockerfile.*,*.cmake}]
indent_style = tab
indent_size = 2

[**.{md}]
indent_style = space
indent_size = 2

# Kept as SPDX publishes them, trailing space in MPL-2.0 included.
[LICENSES/**]
trim_trailing_whitespace = false
