# Folders
Libraries/
Results/
Logs/
build/
VisualStudio/

# IDEs
cmake-build-debug/
.idea/
.vs/
*.json
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Makefile

# Mac
__MACOSX
.DS_Store

# Files
*.csv

# Python
*.pyc
.cache/
__pycache__/