[submodule "Dependencies/libcps"]
	path = Dependencies/libcps
	url = ../cpowersystems.git
[submodule "Dependencies/fpotencia"]
	path = Dependencies/fpotencia
	url = git@git.rwth-aachen.de:acs/core/simulation/fpotencia.git
