[submodule "Examples/Results"]
	path = Examples/Results
	url = https://git.rwth-aachen.de/acs/public/simulation/reference-results
[submodule "Source/Components"]
	path = Source/CPowerSystems
	url = ../cpowersystems.git
[submodule "Dependencies/libcimpp"]
	path = Dependencies/libcimpp
	url = git@git.rwth-aachen.de:acs/core/cim/cimpp/libcimpp.git
