# Folders
Libraries/
Build/
Results/
Logs/
build/

# IDEs
cmake-build-debug/
.idea/
.vs/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Makefile

# Mac
__MACOSX
.DS_Store
